* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(24, 3, 43);
  display: flex;
  place-items: center;
  min-height: 100vh;
}
main{
  display: grid;
  grid-template-areas:
   "a a a b"
   "c c d d"
   "c c e e";

  gap: 10px;
  width: 50%;
  margin: auto;
}
main div{
  padding: 10px;
  text-align: center;
}
.item-a{
  background-color: rgb(176, 54, 10);
  padding: 5em;
  grid-area: a;
  
}
.item-b{
  background-color: rgb(248, 183, 4);
  padding: 4em;
  grid-area: b;
}
.item-c{
  background-color: rgb(15, 173, 59);
  padding: 2%;
  grid-area: c;
}
.item-d{
  background-color: rgb(14, 180, 245);
  padding: 2em;
  grid-area: d;
}
.item-e{
  background-color: rgb(14, 180, 245);
  padding: 2em;
  grid-area: e;
}